<div class="container">
<h1>My tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <input type="checkbox" <%= task.completed == true ? 'checked' : nil %>>
      <label for="task">
          <%= link_to task.title, task_path(task) %>
          -
          <%= task.details %>
      </label>
    </li>
   <% end %>
</ul>

<hr>

<h4><%= link_to "Add a new task", tasks_new_path %></h4>
</div>
